/* footer */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: var(--alt-bg-color); */
  color: var(--color-primary-60);
  background-color: var(--color-secondary-60);
  .links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 10px;
    justify-content: start;
    /* justify-content: start; */

    /* display: flex;
        align-items: flex-start; */

    padding: 10px 10%;
    width: 100%;
    /* border-bottom: 1px solid var(--border-color); */
    box-shadow: 0 0 var(--unit-xxs) 0 var(--color-primary-10);
    div {
      h3 {
        margin-bottom: var(--unit-xxs);
        font-size: var(--unit-xxl);
        font-weight: var(--fw-600);
      }
      flex-direction: column;
      min-width: 300px;
      ul {
        display: flex;
        align-items: flex-start;
      }
    }

    .col-1,
    .col-2,
    .col-3 {
      ul {
        flex-direction: column;
        a {
          padding: 5px;
          color: var(--color-primary-10);
        }
      }
    }

    .col-4 {
      justify-content: center;
      flex-wrap: wrap;
      ul {
        a {
          ion-icon {
            /* width: 1em;
                height: 1em; */
            color: var(--color-primary-10);
            font-weight: var(--fw-600);
            font-size: var(--unit-xl);
            transition: all 0.5s ease-out;
            &:hover {
              transform: translateZ(1rem);
              color: var(--color-call-to-action);
            }
          }
        }
      }
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
  }
}
