/* navigator-container */
.navigator-container {
  border: 1px solid var(--border-color);
  border-radius: 20px;
}
.navigator-item {
  border-right: 1px solid var(--border-color);
  padding: 4px;
}
.navigator-item-active {
  a {
    color: var(--color-call-to-action);
    font-weight: var(--fw-600);
  }
}

.place-order {
  border-right: none;
}

/* sign in */
.checkout-form-container {
  padding: 4px;
  border-right: 1px solid var(--border-color);
  cursor: pointer;
  /* width: 70px; */
  max-width: 400px;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  form {
    padding: 4px;
    h2 {
      padding: 10px;
    }
    input,
    textarea,
    button {
      /* display: inline-block; */
      display: flex;
      align-self: center;
      justify-self: center;
      width: 100%;
      padding: 10px;

      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      margin-bottom: 5px;
      font-size: 15px;
    }
    input,
    textarea {
      border: 0.3px solid var(--border-color);
    }

    .or {
      padding: 5px;
      font-size: var(--unit-m);
    }
  }
}

.form-radio-container {
  display: grid;
  grid-template-columns: 20px 1fr;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  border-radius: var(--unit-xxxs);
  background-color: var(--color-primary-30);
}

.radio-input {
  /* margin-left: 0px; */
  padding: 4px;
  cursor: pointer;
}

.radio-input-label {
  color: var(--color-secondary-30);
  font-weight: var(--fw-500);
  font-size: var(--unit-l);
  margin-bottom: 0;
}

.radio-input-text {
  font-size: var(--unit-m);
  font-weight: var(--fw-400);
}
