.top-header-section {
  display: flex;
  align-items: center;
  padding: 10px 10%;
  background-color: var(--color-primary-30);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* Order Details */
.order-details {
  margin-bottom: 10px;
  flex: 0 0 50%;
}

.cancel-order {
  background-color: var(--color-call-to-action);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: var(--hover-color-call-to-action);
  }
}

/* Delivery Details */
.delivery-details {
  margin-bottom: 20px;
  flex: 0 0 50%;
}
.order-status {
  color: var(--color-secondary-30);
}
.order-status span {
  font-weight: bold;
  color: green;
}

.progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.current-status {
  color: rgb(6, 125, 98);
}

@media (max-width: 575px) {
  .progress-labels-container {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .progress-labels-container {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .progress-label {
    margin-bottom: 3px;
  }
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
}

.progress {
  width: 80%; /* Adjust this dynamically based on order status */
  height: 100%;
  background: green;
  border-radius: 5px;
}

.bottom-details-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  align-items: start;

  width: 100%;
  gap: 7px;
}
/* Items List */
.items-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: var(--color-primary-30);
  padding: var(--unit-xxxs);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.item {
  display: grid;
  grid-template-columns: 80px 1fr 100px;
  align-items: center;
  font-size: 1.4rem;
  padding: var(--unit-xxxs);
  border-bottom: 1px solid var(--border-color);
  .details {
    p {
      strong {
        font: 1.5rem;
      }
    }
  }
}
.item:last-child {
  border-bottom: none;
}
.item img {
  height: auto;
  border-radius: 5px;
}
.review-button {
}

/* Order Summary */
.order-summary {
  display: flex;
  flex-direction: column;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 5px;

  margin-bottom: 20px;
  background-color: var(--color-primary-30);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}
