/* Cart Page Main */
.empty-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-cart-container a {
  display: block;
}

.cart-page-main-container {
  display: flex;
  justify-content: center;
  padding: 10px 10%;
  gap: 15px;
}
.cart-page-main-container .cart-summary-details,
.cart-page-main-container .cart-items-list {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}
.cart-page-main-container h2 {
  font-size: 25px;
  padding: 10px;
}

.left-container {
  border-radius: 10px;
}
.left-container ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.left-container ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 70px 1fr 50px;
  max-width: 500px;
  padding: var(--unit-xxs);
  background-color: var(--color-primary-30);
  margin-bottom: var(--unit-xxs);
  border-radius: var(--unit-xxs);
}
.left-container ul li .cart-product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-30);
  border-radius: var(--unit-xxs);
  padding: var(--unit-xxs);
  margin-right: 5px;
  object-fit: contain;
}
.left-container ul li .cart-product-details-container {
  display: flex;
  flex-direction: column;
}
.left-container ul li .cart-product-details-container .top p {
  font-size: 1.8rem;
  color: var(--color-secondary-60);
  line-height: 1;
  font-weight: var(--fw-600);
  /* margin-bottom: -4px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.left-container ul li .cart-product-details-container .bottom {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: var(--unit-l);
  color: var(--color-secondary-30);
}
.left-container
  ul
  li
  .cart-product-details-container
  .bottom
  .quantity-container {
  color: var(--color-secondary-30);
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  flex-direction: row;
}
.left-container
  ul
  li
  .cart-product-details-container
  .bottom
  .quantity-container
  .cart-quantity {
  display: flex;
  border: none;
  border: 0.5px solid var(--border-color);
  /* background-color: var(--r); */
  padding: 2px;
  font-size: var(--unit-s);
  margin-left: 3px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.left-container ul li .cart-product-details-container .bottom .price {
  display: flex;
  flex-direction: row;
  flex-basis: 40%;
}
.left-container ul li .cart-product-details-container .item-total-price {
  line-height: 1;
  font-size: 1.6rem;
  color: var(--color-secondary-30);
}
.left-container ul li .remove-from-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-container ul li .remove-from-cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.left-container ul li .remove-from-cart button ion-icon {
  font-size: 40px;
  color: var(--color-danger);
}
/* +++++Right container+++++++ */
.right-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.apply-copun-container {
  background-color: var(--color-primary-30);
  padding: var(--unit-xxs);
  border-radius: var(--unit-xxs);
  max-width: 500px;
}
.apply-copun-container p {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: var(--fw-600);
  color: var(--color-secondary-60);
}
.apply-copun-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: var(--unit-xxs);
}
.apply-copun-container form input {
  width: 70%;
  height: 100%;
  padding: 5px;
  background-color: var(--color-primary-60);
  color: var(--font-color);
  border: none;
  outline: none;
}
.apply-copun-container form button {
  width: 30%;
  height: 100%;
  cursor: pointer;
  background-color: var(--color-call-to-action);
  color: var(--font-color);
  border: none;
  outline: none;
}

.container-cart-summary {
  max-width: 500px;
  padding: var(--unit-xxs);
  display: flex;
  flex-direction: column;

  justify-content: center;
  background-color: var(--color-primary-30);
  border-radius: 10px;
}
.cart-page-header {
  font-size: var(--unit-xl);
  padding: var(--unit-xxxs);
}
.container-cart-summary ul li {
  list-style: none;
  display: flex;
  flex-direction: row;

  padding: var(--unit-xxxs);
  border-bottom: 1px solid var(--border-color);
}
.container-cart-summary ul li:last-child {
  border-top: 2px solid var(--border-color);
  padding-top: 3px;
  border-bottom: none;
}
.label,
.figure {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  flex-direction: column;
}
.label {
  font-size: 18px;
  font-weight: var(--fw-600);
}
.cart-subtotal {
  border-bottom: none;
  font-size: 20px;
  font-weight: var(--fw-600);
}

.procede-to-checkout-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--unit-xxs);
  padding: var(--unit-xxs);
  width: 100%;
  font-weight: var(--fw-600);
  font-size: var(--unit-l);
  background-color: var(--color-call-to-action);
  color: var(--font-color);
  border: none;
  outline: none;
  &:hover {
    background-color: var(--hover-color-call-to-action);
  }
}

@media (max-width: 600px) {
  .cart-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-page-main-container {
    display: flex;
    flex-direction: column;
  }
  .cart-page-main-container div {
    max-width: 500px;
  }
}
