* {
  list-style: none;
}

.placeorder-container {
  display: flex;
  flex: 0 0 50%;
  gap: var(--unit-xl);
}
.placeorder-left {
  ul {
    display: flex;
    flex: 0 0;
    flex-direction: column;
    gap: var(--unit-xxxs);
    li {
      display: grid;
      grid-template-columns: 1fr var(--unit-l);
      padding: var(--unit-s);
      background-color: var(--color-primary-30);
      border-radius: var(--unit-xxxs);
      border: 0.5px solid var(--border-color);

      .list-left {
      }
      .list-right {
        a {
          ion-icon {
            color: var(--cooprate-color);
            font-size: var(--unit-xl);
          }
        }
      }
    }
  }
}
.placeorder-right {
}
.container-order-summary {
  border: 0.5px solid var(--border-color);
  padding: var(--unit-xxs);
  display: flex;
  background-color: var(--color-primary-30);
  border-radius: 10px;
  flex-direction: column;

  ul {
    li {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-basis: 50%;
      padding: var(--unit-xxs);
      color: var(--color-secondary-10);
      .label,
      .figure {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  .cart-subtotal {
    border-bottom: none;
    font-size: 20px;
    font-weight: var(--fw-600);
  }
  .procede-to-checkout-btn {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--unit-xxs);
      padding: var(--unit-xxs);
      width: 100%;
      font-weight: var(--fw-600);
      font-size: var(--unit-l);
      background-color: var(--color-call-to-action);
      color: var(--font-color);
      &:hover {
        background-color: var(--hover-color-call-to-action);
      }
    }
  }
}

/* media queries */

@media (max-width: 900px) {
  .placeorder-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .placeorder-left,
  .placeorder-right {
    max-width: 500px;
  }
}
