/* products container */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 10px;
  justify-content: center;
}
/* single product container */

.product-card {
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;

  background-color: var(--color-primary-30);
  /* border: 0.5px solid var(--border-color); */
  min-width: 20rem;
  border-radius: 8px;
  &:hover {
    box-shadow: 0 2px 5px var(--shadow-color);
  }
  /* box-shadow:  var(--alt-bg-color); */
  /*   
        &:hover{
          /* box-shadow: 0  0 15 var(--alt-bg-color); 
          box-shadow:1px 5px 1px 5px var(--shadow-color);
        } */
}
.product-image {
  width: 100%;
  max-height: 40vh;
  border-radius: 8px 8px 0 0;
  padding: 10px;
  box-shadow: 0 0 20px 0 var(--shadow-color);
  img {
    object-fit: contain;
    object-position: center;
  }
  /* border-bottom: 0.5px solid var(--border-color); */
  /* background-color: var(--color-primary-10); */
}
.products-details {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
}
.products-name {
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product-price {
  display: flex;
  align-items: center;
  .price-is {
    font-size: var(--unit-l);
    span {
      color: var(--color-success);
      display: inline;
    }
  }
  .price-was {
    font-size: var(--unit-m);
    margin-left: var(--unit-m);
    span {
      display: inline;
      text-decoration: line-through;
      color: var(--color-danger);
    }
  }
  .price-off {
    font-size: var(--unit-s);
    margin-left: var(--unit-xxxs);
    color: var(--color-secondary-10);
    span {
      display: inline;
    }
  }
}
.ratting-component {
  display: flex;
  align-items: center;

  .stars {
    margin-right: 0.2rem;
    ion-icon {
      color: gold;
    }
  }
}
.products-review {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  gap: 3px;

  .reviews,
  .likes {
    ion-icon {
      margin-right: 0.2rem;
      font-size: calc(var(--unit-l) + 0.5rem);
    }

    width: 100%;
    height: 100%;
    font-size: var(--unit-m);
    /* background-color: var(--alt-bg-color-fade); */
    /* border-radius: 0.5rem; */
    /* padding: 0.5rem; */
  }
  .reviews {
    border-right: 1px solid var(--border-color);
  }

  /* .rattings{
          background-color: green;
        }
        .reviews{
          background-color: yellow;
        }
        .likes{
          background-color: red;
        } */
}
.liked {
  ion-icon {
    color: hotpink;
  }
}
.buy-action {
  margin: 5px 2px;
  border: 0.5px solid var(--border-color);
  border-radius: 20px;

  .add-to-cart-btn,
  .buy-now-btn {
    display: inline;
    outline: none;
    border: none;
    flex-basis: 50%;
    height: 30px;
    align-items: center;
    width: 100%;
    font-size: var(--unit-l);
    font-weight: var(--fw-600);
    color: var(--color-secondary-30);
    padding: var(--unit-xxxs);
    cursor: pointer;
    transition: 0.5s all ease;
  }
  .add-to-cart-btn {
    background-color: var(--color-call-to-action);
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    transition: 0.5s all ease;
    color: var(--color-primary-30);

    &:hover {
      background-color: var(--hover-color-call-to-action);
    }
  }
  .buy-now-btn {
    border-radius: 0 20px 20px 0;
    background: transparent;
    color: var(--color-call-to-action);
    &:hover {
      background-color: var(--hover-color-call-to-action);
      color: var(--color-primary-30);
    }
  }
}
